<h1><b>Data Viewer</b></h1>

# Import library

In [1]:
import pandas as pd

import sys
from pathlib import Path

src_path = Path().resolve().parents[1] / "src"
sys.path.append(str(src_path))

from tools.CONFIG import CONFIG

# Data header view

In [2]:
try:
    ISPU_df = pd.read_csv(CONFIG['DATAPOINT']['ISPU'])
    cuaca_harian_df = pd.read_csv(CONFIG['DATAPOINT']['cuaca-harian'])
    jumlah_penduduk_df = pd.read_csv(CONFIG['DATAPOINT']['jumlah-penduduk'])
    kualitas_air_sungai_df = pd.read_csv(CONFIG['DATAPOINT']['kualitas-air-sungai'])
    libur_nasional_df = pd.read_csv(CONFIG['DATAPOINT']['libur-nasional'])
    NDVI_df = pd.read_csv(CONFIG['DATAPOINT']['NDVI'])
except FileNotFoundError as e:
    print(f"Error in reading data: {e}")

## ISPU

In [3]:
ISPU_df.head(10)

,periode_data,tanggal,stasiun,pm_sepuluh,pm_duakomalima,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max,parameter_pencemar_kritis,kategori
0,201001,2010-01-01,DKI5 (Kebon Jeruk),NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,TIDAK ADA DATA
1,201001,2010-01-01,DKI1 (Bunderan HI),60.0,NaN,4.0,73.0,27.0,14.0,73.0,CO,SEDANG
2,201001,2010-01-01,DKI4 (Lubang Buaya),NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,TIDAK ADA DATA
3,201001,2010-01-01,DKI2 (Kelapa Gading),NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,TIDAK ADA DATA
4,201001,2010-01-01,DKI3 (Jagakarsa),NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,TIDAK ADA DATA
5,201001,2010-01-02,DKI1 (Bunderan HI),32.0,NaN,2.0,16.0,33.0,9.0,33.0,O3,BAIK
6,201001,2010-01-02,DKI5 (Kebon Jeruk),NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,TIDAK ADA DATA
7,201001,2010-01-02,DKI2 (Kelapa Gading),NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,TIDAK ADA DATA
8,201001,2010-01-02,DKI3 (Jagakarsa),NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,TIDAK ADA DATA
9,201001,2010-01-02,DKI4 (Lubang Buaya),NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,TIDAK ADA DATA

In [4]:
ISPU_df.isnull().sum()

periode_data                    0
tanggal                         0
stasiun                         0
pm_sepuluh                   1842
pm_duakomalima               4398
sulfur_dioksida              1463
karbon_monoksida             1457
ozon                         1469
nitrogen_dioksida            1533
max                            10
parameter_pencemar_kritis    1408
kategori                        0
dtype: int64

## NDVI

In [5]:
NDVI_df.head(10)

      tanggal stasiun_id    ndvi
0  2009-12-19       DKI5  0.3801
1  2010-01-01       DKI5  0.3705
2  2010-01-17       DKI5  0.4848
3  2010-02-02       DKI5  0.5710
4  2010-02-18       DKI5  0.4308
5  2010-03-06       DKI5  0.4401
6  2010-03-22       DKI5  0.4132
7  2010-04-07       DKI5  0.4620
8  2010-04-23       DKI5  0.3871
9  2010-05-09       DKI5  0.4338

In [6]:
NDVI_df.isnull().sum()

tanggal       0
stasiun_id    0
ndvi          0
dtype: int64

## Cuaca-harian

In [7]:
cuaca_harian_df.head(10)

,wilayah,time,temperature_2m_max (°C),temperature_2m_min (°C),precipitation_sum (mm),precipitation_hours (h),wind_speed_10m_max (km/h),wind_direction_10m_dominant (°),shortwave_radiation_sum (MJ/m²),temperature_2m_mean (°C),...,relative_humidity_2m_max (%),relative_humidity_2m_min (%),cloud_cover_max (%),cloud_cover_min (%),wind_gusts_10m_mean (km/h),wind_speed_10m_mean (km/h),wind_gusts_10m_min (km/h),wind_speed_10m_min (km/h),surface_pressure_max (hPa),surface_pressure_min (hPa)
0,Bundaran HI,2010-01-01,29.4,24.4,4.0,14.0,16.0,246,16.24,26.6,...,90,69,100,99,21.0,10.5,11.9,6.9,1009.3,1005.1
1,Bundaran HI,2010-01-02,30.8,24.0,6.5,4.0,14.7,238,19.80,26.9,...,93,69,100,91,16.5,7.7,9.0,4.4,1009.9,1006.0
2,Bundaran HI,2010-01-03,30.4,24.3,7.6,11.0,12.6,244,17.32,26.7,...,91,70,100,81,18.4,9.4,11.9,6.5,1010.5,1006.5
3,Bundaran HI,2010-01-04,30.3,25.4,0.9,5.0,19.3,239,20.43,27.4,...,91,70,100,17,23.8,13.5,14.4,9.6,1009.1,1005.1
4,Bundaran HI,2010-01-05,29.9,24.8,14.3,7.0,15.9,247,15.86,26.4,...,89,72,100,99,21.6,11.1,10.4,7.8,1009.1,1006.0
5,Bundaran HI,2010-01-06,29.2,23.8,13.2,10.0,16.2,236,17.02,26.2,...,92,72,100,94,19.0,9.0,7.9,3.5,1010.3,1007.3
6,Bundaran HI,2010-01-07,30.2,24.3,3.4,5.0,11.8,246,21.24,26.9,...,92,71,100,53,16.1,7.7,8.3,3.2,1009.8,1005.9
7,Bundaran HI,2010-01-08,27.0,23.9,14.0,19.0,12.7,302,10.73,25.1,...,96,80,100,94,13.9,4.7,7.6,1.5,1011.2,1007.8
8,Bundaran HI,2010-01-09,28.4,23.5,22.4,20.0,9.3,275,13.24,25.2,...,96,74,100,98,20.8,5.5,10.1,0.8,1011.7,1007.5
9,Bundaran HI,2010-01-10,28.2,23.2,7.7,18.0,12.9,282,16.77,25.8,...,97,70,100,74,17.5,6.1,9.0,1.5,1011.7,1007.7

In [8]:
cuaca_harian_df.isnull().sum()

wilayah                            0
time                               0
temperature_2m_max (°C)            0
temperature_2m_min (°C)            0
precipitation_sum (mm)             0
precipitation_hours (h)            0
wind_speed_10m_max (km/h)          0
wind_direction_10m_dominant (°)    0
shortwave_radiation_sum (MJ/m²)    0
temperature_2m_mean (°C)           0
relative_humidity_2m_mean (%)      0
cloud_cover_mean (%)               0
surface_pressure_mean (hPa)        0
wind_gusts_10m_max (km/h)          0
winddirection_10m_dominant (°)     0
relative_humidity_2m_max (%)       0
relative_humidity_2m_min (%)       0
cloud_cover_max (%)                0
cloud_cover_min (%)                0
wind_gusts_10m_mean (km/h)         0
wind_speed_10m_mean (km/h)         0
wind_gusts_10m_min (km/h)          0
wind_speed_10m_min (km/h)          0
surface_pressure_max (hPa)         0
surface_pressure_min (hPa)         0
dtype: int64

## Jumlah-penduduk

In [9]:
jumlah_penduduk_df.head(10)

,periode_data,tahun,nama_provinsi,nama_kabupaten_kota,nama_kecamatan,nama_kelurahan,usia,jenis_kelamin,jumlah_penduduk
0,2013,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,JATINEGARA,KAMPUNG MELAYU,0-4,Laki-laki,1419
1,2013,2013,PROVINSI DKI JAKARTA,JAKARTA SELATAN,PESANGGRAHAN,BINTARO,15-19,Laki-laki,1981
2,2013,2013,PROVINSI DKI JAKARTA,JAKARTA SELATAN,PESANGGRAHAN,PESANGGRAHAN,15-19,Laki-laki,1084
3,2013,2013,PROVINSI DKI JAKARTA,JAKARTA SELATAN,JAGAKARSA,CIPEDAK,15-19,Laki-laki,1533
4,2013,2013,PROVINSI DKI JAKARTA,JAKARTA SELATAN,JAGAKARSA,TANJUNG BARAT,15-19,Laki-laki,1691
5,2013,2013,PROVINSI DKI JAKARTA,JAKARTA SELATAN,JAGAKARSA,LENTENG AGUNG,15-19,Laki-laki,2154
6,2013,2013,PROVINSI DKI JAKARTA,JAKARTA SELATAN,JAGAKARSA,CIGANJUR,15-19,Laki-laki,1446
7,2013,2013,PROVINSI DKI JAKARTA,JAKARTA SELATAN,JAGAKARSA,SRENGSENG SAWAH,15-19,Laki-laki,2412
8,2013,2013,PROVINSI DKI JAKARTA,JAKARTA SELATAN,JAGAKARSA,JAGAKARSA,15-19,Laki-laki,2451
9,2013,2013,PROVINSI DKI JAKARTA,JAKARTA SELATAN,PANCORAN,CIKOKO,15-19,Laki-laki,430

In [10]:
jumlah_penduduk_df.isnull().sum()

periode_data           0
tahun                  0
nama_provinsi          0
nama_kabupaten_kota    0
nama_kecamatan         0
nama_kelurahan         0
usia                   0
jenis_kelamin          0
jumlah_penduduk        0
dtype: int64

## Kualitas air sungai

In [11]:
kualitas_air_sungai_df.head(10)

,periode_data,periode_pemantauan,bulan_sampling,titik_sampel,nama_sungai,alamat,latitude,longitude,jenis_parameter,parameter,baku_mutu,hasil_pengukuran
0,2024,Periode 2,5,KLT 3,Kalibaru Timur,Jl. Raya Bogor Komseko,-6.286182,106.870626,Kimia,pH,6.900,7.110
1,2024,Periode 2,5,KLT 3,Kalibaru Timur,Jl. Raya Bogor Komseko,-6.286182,106.870626,Kimia,BOD,3.000,13.000
2,2024,Periode 2,5,KLT 3,Kalibaru Timur,Jl. Raya Bogor Komseko,-6.286182,106.870626,Kimia,COD,25.000,41.000
3,2024,Periode 2,5,KLT 3,Kalibaru Timur,Jl. Raya Bogor Komseko,-6.286182,106.870626,Kimia,DO,4.000,5.600
4,2024,Periode 2,5,KLT 3,Kalibaru Timur,Jl. Raya Bogor Komseko,-6.286182,106.870626,Kimia,Nitrat,10.000,2.000
5,2024,Periode 2,5,KLT 3,Kalibaru Timur,Jl. Raya Bogor Komseko,-6.286182,106.870626,Kimia,Nitrit,0.060,0.100
6,2024,Periode 2,5,KLT 3,Kalibaru Timur,Jl. Raya Bogor Komseko,-6.286182,106.870626,Kimia,Total P,0.200,0.200
7,2024,Periode 2,5,KLT 3,Kalibaru Timur,Jl. Raya Bogor Komseko,-6.286182,106.870626,Kimia,F,1.500,0.010
8,2024,Periode 2,5,KLT 3,Kalibaru Timur,Jl. Raya Bogor Komseko,-6.286182,106.870626,Kimia,H2S,0.002,0.002
9,2024,Periode 2,5,KLT 3,Kalibaru Timur,Jl. Raya Bogor Komseko,-6.286182,106.870626,Kimia,Klorin Bebas,0.030,0.030

In [12]:
kualitas_air_sungai_df.isnull().sum()

periode_data          0
periode_pemantauan    0
bulan_sampling        0
titik_sampel          0
nama_sungai           0
alamat                0
latitude              0
longitude             0
jenis_parameter       0
parameter             0
baku_mutu             0
hasil_pengukuran      0
dtype: int64

## Libur nasional

In [13]:
libur_nasional_df.head(10)

      tanggal  is_holiday_nasional      nama_libur  is_weekend   day_name
0  2010-01-01                    1  New Year's Day           0     Friday
1  2010-01-02                    0             NaN           1   Saturday
2  2010-01-03                    0             NaN           1     Sunday
3  2010-01-04                    0             NaN           0     Monday
4  2010-01-05                    0             NaN           0    Tuesday
5  2010-01-06                    0             NaN           0  Wednesday
6  2010-01-07                    0             NaN           0   Thursday
7  2010-01-08                    0             NaN           0     Friday
8  2010-01-09                    0             NaN           1   Saturday
9  2010-01-10                    0             NaN           1     Sunday

In [14]:
libur_nasional_df.isnull().sum()

tanggal                   0
is_holiday_nasional       0
nama_libur             5587
is_weekend                0
day_name                  0
dtype: int64